[submodule "backend"]
	path = backend
	url = https://github.com/Moe-Karim/RecapPro-backend.git
[submodule "RecapPro-video-processing"]
	path = RecapPro-video-processing
	url = https://github.com/Moe-Karim/RecapPro-video-processing.git
[submodule "RecapPro-AI"]
	path = RecapPro-AI
	url = https://github.com/Moe-Karim/RecapPro-AI.git
[submodule "RecapPro-Frontend"]
	path = RecapPro-Frontend
	url = https://github.com/Moe-Karim/RecapPro-Frontend.git
